/* Skills.css */

.skills-container {
    text-align: center;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 4%;
  }
  
  .skills-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: rgb(0, 157, 255);
    margin: 4%;
  }
  
  .skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  
  .skill-item {
    width: 100px;
    text-align: center;
  }
  
  .skill-img {
    width: 65%;
    height: 65%;
    margin: 3%;
    border-radius: 20px;
  }
  
  .skill-name {
    margin-top: 10px;
    font-size: 1em;
    color: white;
  }
  